.footer {
	background-color: black;
	color: white;
	padding: 2.5em 1.5em;
	display: grid;
	grid-template-columns: 3fr 1fr 1fr;
	grid-gap: 1em;
	.footer-section {
		p {
			opacity: 0.7;
			margin-bottom: 0.5em;
			font-size: 1.2em;
		}
		p.title {
			opacity: 1;
			margin-bottom: 1.3em;
			font-weight: bold;
		}
		.copyright {
			font-size: 1.4em;
		}
	}
}
