.section.quote {
	display: block;
	.quote-text {
		font-size: 1.2em;
		line-height: 1.2;
		color: var(--text-color);
		svg {
			color: var(--primary-color);
			font-size: 1.5em;
			margin-right: 0.5em;
		}
	}
	.quote-auther {
		text-align: right;
		margin-top: 1em;
		color: var(--text-light);
	}
}
