.recipes-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
	grid-gap: 1.5em;
}

.recipe-card {
	position: relative;
	border-radius: 15px;
	overflow: hidden;
	box-shadow: 5px 5px 10px var(--shadow-color);
	.recipe-card-info {
		padding: 15px;
	}
	.author-img {
		height: 65px;
		width: 65px;
		border-radius: 50%;
		border: 3px solid var(--background-light);
		box-shadow: 1px 1px 3px var(--shadow-color);
		margin-top: -50px;
	}
	.custom-image {
		z-index: -1;
	}
	.recipe-title {
		font-size: 1.2em;
		font-weight: bold;
		text-transform: capitalize;
		margin-bottom: 0.5em;
		color: var(--text-color);
		margin-top: 0.25em;
	}
	.recipe-desc {
		color: var(--text-light);
		font-size: 1em;
		letter-spacing: 1px;
	}
	.view-btn {
		font-size: 1em;
		background-image: linear-gradient(
			to left,
			var(--text-light) 0%,
			var(--primary-color) 51%,
			var(--text-light) 100%
		);
		background-size: 200% auto;
		transition: 0.5s;
		color: white;
		border: 0;
		border-radius: 15px;
		padding: 5px 15px;
		background-color: var(--primary-color);
		opacity: 0.7;
		text-align: center;
		box-shadow: var(--box-shadow);
		display: block;
	}
	.view-btn:hover {
		background-position: right center;
		color: #fff;
		box-shadow: none;
	}
}
