.previous-searches {
	display: block;

	.previous-searches {
		.search-item {
			display: inline-block;
			padding: 0.5em 1em;
			margin: 0 1em 1em 0;
			color: white;
			text-transform: capitalize;
			border-radius: 30px;
			box-shadow: 3px 3px 5px var(--shadow-color);
			transform: translateX(100%);
			transition: 1s;
			opacity: 0;
			animation: getAnimationDuration(0.5s) slideInRight forwards;
		}
	}

	.search-box {
		// background-color: green;
		// justify-content: flex-end;
		// margin-left: auto;
		display: flex;
		// background-color: aqua;
		margin: 40px auto;
		// display: inline-block;
		align-items: center;
		height: 45px;
		box-shadow: var(--shadow-dark);
		.btn {
			// height: 45px;
			// width: 45px;
			// margin: 0;
			opacity: 0.8;
			padding-top: 16px;
			border-radius: 0 10px 10px 0;
		}

		input {
			min-width: 730px;
			height: 45px;
			display: inline-block;
			padding: 0 0.5em;
			font-size: 1.2em;
			border-radius: 10px 0 0 10px;
			border-color: transparent;
			box-shadow: 2px 2px 6px var(--shadow-dark);
			&:focus {
				outline: none;
				border: 3px solid var(--primary-color);
			}
		}
	}
}
.search-error {
	color: var(--primary-color);
	font-family: 'Water Brush', cursive;
	font-size: 4rem;
	margin: 5rem;
}
