:root {
	--background-color: rgb(231, 192, 192);
	--background-light: rgb(237, 217, 217);
	--shadow-color: rgba(0, 0, 0, 0.2);
	--shadow-dark: rgba(0, 0, 0, 0.5);
	--button-dark: rgba(0, 0, 0, 0.7);

	--box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.7);

	--primary-color: rgb(232, 25, 24);
	--text-color: rgb(10, 10, 10);
	--text-light: rgb(87, 87, 87);
	--font-size: 16px;
	--animation-speed: 3;
}
@function getAnimationDuration($duration: number) {
	@return calc($duration * var(--animation-speed));
}

@import 'partials/navbar.scss';
@import 'partials/sidebar.scss';
@import 'partials/hero-section.scss';
@import 'partials/animations.scss';
@import 'partials/improve-skills.scss';
@import 'partials/quote-section.scss';
@import 'partials/vegetarian.scss';
@import 'partials/random.scss';
@import 'partials/search.scss';
@import 'partials/searched-recipe.scss';
@import 'partials/cuisines.scss';
@import 'partials/recipes-section.scss';
@import 'partials/options-section.scss';
@import 'partials/footer.scss';
@import 'partials/limit-reached.scss';
@import 'partials/error.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: var(--font-size);
	font-family: 'Roboto', sans-serif;
	padding-top: 55px;
	background-color: var(--background-light);
	scrollbar-color: var(--primary-color) var(--background-color);
}
::-webkit-scrollbar-thumb {
	background-color: var(--primary-color);
	border-radius: 5px;
}
::-webkit-scrollbar {
	background-color: var(--background-color);
	width: 10px;
}

a {
	text-decoration: none;
}

img {
	object-fit: cover;
}
.container {
	padding-inline: 14vw;
}

.main {
	padding-block: 3vw;
}

.btn {
	border: none;
	outline: none;

	background-image: linear-gradient(
		to left,
		var(--button-dark) 0%,
		var(--primary-color) 51%,
		var(--button-dark) 100%
	);
	background-size: 200% auto;
	transition: 0.5s;
	text-align: center;
	color: white;
	padding: 0.75em 2em;
	text-transform: uppercase;
	font-size: 1em;
	font-weight: bold;
	letter-spacing: 1px;
	border-radius: 20px;
	cursor: pointer;
	box-shadow: 3px 4px 6px var(--shadow-dark);
	&:hover {
		background-position: right center;
		color: #fff;
		box-shadow: none;
	}
}

.custom-image {
	// background-color: blue;
	height: 0;
	width: 100%;
	position: relative;
	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
.link-button {
	margin-top: 1.5em;
}

.section {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 1.5vw;
	&.d-block {
		display: block;
	}
	.col {
		width: 50%;
	}
	.title {
		color: var(--text-color);
		font-size: 2.5em;
		margin-bottom: 0.25em;
		font-weight: 900;
	}
	.info {
		color: var(--text-light);
		font-size: 1em;
		letter-spacing: 1px;
		line-height: 1.3;
		margin-bottom: 1.25em;
	}
}

// ............. Media Query .............. //
// best media query breakpoints in 2022:-
// 320px — 480px: Mobile devices
// 481px — 768px: iPads, Tablets
// 769px — 1024px: Small screens, laptops
// 1025px — 1200px: Desktops, large screens
// 1201px and more —  Extra large screens, TV

@media screen and(min-width: 769px) {
	.sidebar {
		display: none;
	}
}

@media screen and (max-width: 1280px) {
	.container {
		padding-inline: 18vw;
	}
	// .previous-searches {
	// 	.search-box {
	// 		input {
	// 			min-width: 630px;
	// 			// background-color: aqua;
	// 		}
	// 	}
	// }
}

// @media only screen and (max-width: 1120px) and (min-width: 1020px) {
// 	.previous-searches {
// 		.search-box {
// 			input {
// 				min-width: 530px;
// 				// background-color: red;
// 			}
// 		}
// 	}
// }

@media only screen and (max-width: 1030px) and (min-width: 769px) {
	.previous-searches {
		.search-box {
			input {
				min-width: 530px;
				// background-color: red;
			}
		}
	}
}

@media screen and (max-width: 1024px) {
	.container {
		padding-inline: 12vw;
	}
	// .previous-searches {
	// 	.search-box {
	// 		input {
	// 			min-width: 530px;
	// 			// background-color: red;
	// 		}
	// 	}
	// }
	.details-container {
		flex-wrap: wrap;
	}

	.search-error {
		font-size: 3rem;
		margin: 3rem;
	}
}

@media screen and (max-width: 768px) {
	.navbar {
		padding-top: 20px;
		.nav-links {
			display: none;
		}
		.sidebar-btn {
			display: block;
		}
	}
	.container {
		padding-inline: 6vw;
	}
	.btn {
		padding: 0.7em 0.9em;
		font-size: 0.85em;
	}
	.section {
		.col {
			width: 100%;
			padding: 0 !important;
			text-align: center;
			margin-bottom: 2em;
		}
	}
	.skill-item {
		display: inline-block;
		margin: 0.75em;
	}
	.section.improve-skills {
		.btn {
			display: block;
			margin-left: 50%;
			transform: translateX(-50%);
		}
	}

	.footer {
		grid-template-columns: repeat(4, 1fr);
		.footer-section:nth-child(1) {
			grid-column: span 4;
		}
		.footer-section:nth-child(2),
		.footer-section:nth-child(3) {
			grid-column: span 2;
		}
	}
	.previous-searches {
		.search-box {
			input {
				min-width: 430px;
				// background-color: yellow;
			}
			.btn {
				padding: 15px;
			}
		}
	}
	.search-error {
		font-size: 2rem;
		margin: 2rem;
	}
}

@media screen and (max-width: 480px) {
	.container {
		// padding-inline: 1vw;
		padding: 20px;
		// padding: auto;
	}

	.cuisines-list {
		// height: 250px;
		justify-content: none;
		padding: 10px;
	}
	.recipes-container {
		grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
	}
	.previous-searches {
		.search-box {
			input {
				min-width: 280px;
				// background-color: blue;
			}
			.btn {
				padding: 15px;
			}
		}
	}
}

// @media screen and (max-width: 424px) {
// 	.container {
// 		padding-inline: 1vw;
// 	}
// 	.recipes-container {
// 		grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
// 	}
// }

@media screen and (max-width: 380px) {
	// .container {
	// 	padding-inline: 1vw;
	// }
	.wrapper {
		display: none;
	}
	.previous-searches {
		.search-box {
			input {
				min-width: 20px;
			}
			.btn {
				padding: 15px;
			}
		}
	}
}
