:root {
	--background-color: #fff;
	--background-light: #fff;
	--shadow-color: rgba(0, 0, 0, 0.2);
	--shadow-dark: rgba(0, 0, 0, 0.5);
	--primary-color: rgb(255, 0, 86);
	--text-color: #0a0a0a;
	--text-light: #575757;
	--font-size: 16px;
	--animation-speed: 1;
}
@function getAnimationDuration($duration: number) {
	@return calc($duration * var(--animation-speed));
}

@import "partials/navbar.scss";
@import "partials/hero-section.scss";
@import "partials/animations.scss";
@import "partials/improve-skills.scss";
@import "partials/quete-section";
@import "partials/topChief-section";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: var(--font-size);
	font-family: "Roboto", sans-serif;
}

a {
	text-decoration: none;
}

img {
	object-fit: cover;
}
.container {
	padding-inline: 12vw;
}

.main {
	padding-block: 3vw;
}

.btn {
	border: none;
	outline: none;
	background-color: var(--primary-color);
	color: white;
	padding: 0.75em 1em;
	text-transform: uppercase;
	font-size: 1em;
	font-weight: bold;
	letter-spacing: 1px;
	border-radius: 20px;
	cursor: pointer;
	box-shadow: 2px 2px 6px var(--shadow-dark);
	&:hover {
		box-shadow: 2px 1px 3px var(--shadow-dark);
	}
}

.custom-image {
	// background-color: blue;
	height: 0;
	width: 100%;
	position: relative;
	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

// best media query breakpoints 2022:-
// 320px — 480px: Mobile devices
// 481px — 768px: iPads, Tablets
// 769px — 1024px: Small screens, laptops
// 1025px — 1200px: Desktops, large screens
// 1201px and more —  Extra large screens, TV

@media screen and (max-width: 768px) {
	.navbar {
		.nav-links {
			display: none;
		}
		.sidebar-btn {
			display: block;
		}
	}
	.btn {
		padding: 0.7em 0.9em;
		font-size: 0.85em;
	}
	.chief-card {
		box-shadow: 3px 5px 10px var(--shadow-color);
	}
}
